@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    min-width: 100vh;
    
}

main {
    padding: 10px;
}

.sideBar {
    display: flex;
    flex-direction: column;
    background-color: #124534;
    height: 100vh;
    width: auto;
    align-items: center;
}

.sideBar .bot {
    visibility: hidden;
}

.sideBar ul{
    padding: 10px;
}

.sideBar li {
    list-style-type: none;
    margin-bottom: 20px;
}

.sideBar button {
    background: transparent;
    border: none;
    color: aliceblue;
}

/*.active {
    width: 0;
    height: 0;
    color: tomato;
}*/

#voltar {
    min-width: 10px;
    overflow: hidden;
}


.layout {
    width: 428px;
    height: 992px;
    background-color: rgb(0, 255, 213);
    
}

.layService {
    
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    width: 100%;
    box-shadow: 1px 5px 10px 2px rgba(169, 169, 169, 0.5);
    justify-content: center;
    align-items: center;

}

.layService ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.iconEdit {
    color: aqua;
}


#video {
    width: 80%;
}

